[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altgraph = "==0.17.3"
asgiref = "==3.5.2"
attrs = "==18.2.0"
autopep8 = "==1.7.0"
cairocffi = "==1.4.0"
cairosvg = "==2.5.2"
certifi = "==2022.9.24"
cffi = "==1.15.1"
chardet = "==3.0.4"
contourpy = "==1.0.5"
cssselect2 = "==0.7.0"
cycler = "==0.11.0"
defusedxml = "==0.7.1"
django = "==4.1.2"
django-smart-selects = "==1.6.0"
fonttools = "==4.37.4"
future = "==0.18.2"
iconify = "==0.0.103"
idna = "==2.10"
"kids.cache" = "==0.0.7"
kiwisolver = "==1.4.4"
"latexmk.py" = "==0.4"
libsass = "==0.21.0"
matplotlib = "==3.6.1"
mock = "==4.0.3"
mpmath = "==1.2.1"
mysqlclient = "==2.1.1"
numpy = "==1.23.3"
ordered-set = "==4.1.0"
packaging = "==21.3"
pandas = "==1.5.0"
pdflatex = "==0.1.3"
pefile = "==2022.5.30"
perl = "==1.0.0"
pillow = "==9.2.0"
pint = "==0.19.2"
pycodestyle = "==2.9.1"
pycparser = "==2.21"
pyinstaller = "==5.5"
pyinstaller-hooks-contrib = "==2022.10"
pylatex = "==1.4.1"
pylatexenc = "==2.10"
pyparsing = "==3.0.9"
pyqt5 = "==5.15.7"
pyqt5-qt5 = "==5.15.2"
pyqt5-sip = "==12.11.0"
pyside2 = "==5.15.2.1"
python-dateutil = "==2.8.2"
pytz = "==2022.4"
pywin32-ctypes = "==0.2.0"
qt-pyqt-pyside-custom-widgets = "==0.6.3"
qtsass = "==0.3.2"
requests = "==2.23.0"
shiboken2 = "==5.15.2.1"
six = "==1.16.0"
sqlparse = "==0.4.3"
sympy = "==1.11.1"
tinycss2 = "==1.1.1"
toml = "==0.10.2"
typing = "==3.7.4"
tzdata = "==2022.4"
urllib3 = "==1.25.11"
webencodings = "==0.5.1"

[dev-packages]

[requires]
python_version = "3.10"
