[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylatex = "*"
pint = "*"
pylatexenc = "*"
numpy = "*"
sympy = "*"
pandas = "*"
"latexmk.py" = "*"
"subprocess.run" = "*"
perl = "*"
tex = "*"

[dev-packages]

[requires]
python_version = "3.10"
